/* static : 작성된 순서대로 배치
relative : 원래 위치를 기준으로 위치 이동이 이뤄짐
absolute : static 외의 속성을 가진 부모 요소를 기준으로 위치 이동 ( 없는 경우에는 window 기준)
fixed : window 기준으로 위치 이동
sticky : 속해있는 부모 요소 안에서 위치 지정 */

/* Global setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* universal tags */
* {
  box-sizing: border-box;
}

.jy_logo {
  width: 16px;
  height: 16px;
}

.home__avatar {
  width: 300px;
  height: 300px;
}
.dongguk {
  width: 40px;
  height: 20px;
}
.coala {
  width: 40px;
  height: 40px;
}
